/* Fieldset reset - https://thatemil.com/blog/2015/01/03/reset-your-fieldset/ */
legend {
  padding: 0;
  display: table;
}
fieldset {
  border: 0;
  padding: 0.01em 0 0 0;
  margin: 0;
  min-width: 0;
}
body:not(:-moz-handler-blocked) fieldset {
  display: table-cell;
}
/***/

* {
  box-sizing: border-box;
}

body {
  max-width: 1000px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-family: 'Bangers', cursive;
  font-display: swap;
  margin: 20px auto;
  font-size: 3.5em;
  cursor: pointer;
}

h2 {
  text-align: center;
  font-family: 'Bangers', cursive;
  font-display: swap;
  margin: 20px auto;
  font-size: 2em;
  cursor: pointer;
}

form {
  max-width: 500px;
  margin: 0 auto;
}

fieldset {
  font-size: 1.1em;
}

input[type="text"] {
  float: left;
  font-family: 'Open Sans', sans-serif;
  height: 35px;
  width: 75%;
  padding-left: 5px;
  border: 1px solid lightgrey;
  border-radius: 2px;
}

input[type="submit"] {
  float: right;
  height: 39px;
  width: 20%;
  font-family: 'Bangers', cursive;
  background-color: rgb(68, 248, 68);
  border: 0 none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="range"] {
  clear: both;
  display: block;
  margin: 70px auto 30px auto;

  -webkit-appearance: none;
  width: 80%;
  height: 5px;
  border-radius: 5px;   
  background: rgb(0, 0, 0);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%; 
  background: rgb(234, 0, 255);
  cursor: pointer;
}
input[type="range"]::-moz-range-thumb {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: rgb(234, 0, 255);
  cursor: pointer;
}

legend, label {
  display: none;
}

main {
  width: 85%;
  margin: 0 auto;
  font-family: 'Times', sans-serif;
  font-display: swap;
}

ul {
  margin: 0 auto;
  list-style-type: none;
  padding: 0 10px;
  border: 1px solid grey;
}

main ul {
  width: 95%;
  border-radius: 5px;
}

a {
  color: rgb(234, 0, 255);
}

li h3 {
  font-family: 'Lora', serif;
}

li p {
  font-family: 'Times', serif;
  line-height: 125%;
}

footer {
  max-width: 70%;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-display: swap;
  line-height: 1.5em;
}

footer li {
  text-align: center;
}

footer p:last-child {
  text-align: center;
}

#js-sources {
  max-width: 800px;
  margin: 0 auto;
}

#js-tabs {
  display: flex;
}

#source-list ul {
  border: 2px solid lightgrey;
}

#source-list ul li {
  padding: 5px 0;
}

.tab {
  flex: 1;
  height: 30px;
  cursor: pointer;
  text-align: center;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#blue {
  background-color: blue;
  color: white;
}
#lightblue {
  background-color: lightblue;
}
#grey {
  background-color: lightgray;
}
#lightred {
  background-color: lightpink;
}
#red {
  background-color: red;
  color: white;
}

.hidden {
  display: none;
}

.active-tab {
  border-top: 2px solid rgb(68, 248, 68);
  border-left: 2px solid rgb(68, 248, 68);
  border-right: 2px solid rgb(68, 248, 68);
  border-bottom: none;
}