/* Fieldset reset - https://thatemil.com/blog/2015/01/03/reset-your-fieldset/ */
legend {
  padding: 0;
  display: table;
}
fieldset {
  border: 0;
  padding: 0.01em 0 0 0;
  margin: 0;
  min-width: 0;
}
body:not(:-moz-handler-blocked) fieldset {
  display: table-cell;
}
/***/

h1 {
  text-align: center;
  font-family: 'Bangers', cursive;
  font-display: swap;
  font-size: 3.5em;
  margin: 20px 0;
}

fieldset {
  font-size: 1.1em;
  margin: 0 auto;
}

input[type="text"] {
  font-family: 'Open Sans', sans-serif;
  height: 35px;
  width: 75%;
  padding-left: 5px;
  border: 1px solid lightgrey;
  border-radius: 2px;
}

input[type="submit"] {
  height: 35px;
  width: 20%;
  font-family: 'Bangers', cursive;
  background-color: rgb(68, 248, 68);
  border: 0 none;
  border-radius: 5px;
}

input[type="range"] {
  display: block;
  margin: 30px auto;

  -webkit-appearance: none;
  width: 80%;
  height: 5px;
  border-radius: 5px;   
  background: rgb(0, 0, 0);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%; 
    background: rgb(234, 0, 255);
    cursor: pointer;
}
input[type="range"]::-moz-range-thumb {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: rgb(234, 0, 255);
    cursor: pointer;
}


legend, label {
  display: none;
}

main {
  width: 85%;
  margin: 0 auto;
  font-family: 'Times', sans-serif;
  font-display: swap;
}

ul {
  width: 90%;
  margin: 0 auto;
  list-style-type: none;
  padding: 0 10px;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

h3 {
  font-family: 'Lora', serif;
}

li p {
  font-family: 'Times', serif;
  line-height: 125%;
}

.hidden {
  display: none;
}